# deps
/node_modules
.pnp
.pnp.*

# next
/.next/
/out/
/build
next-env.d.ts

# fumadocs generated
/.source/

# env & misc
.env*
!.env.example
.DS_Store
*.tsbuildinfo
.vercel
.wrangler
.gstack/

# circuit build artifacts
circuits/**/target/
circuits/**/Prover.toml
.next.broken*

# OpenNext
.open-next

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
